.axis-label {
    position: absolute;
    bottom: 10px;
    left: 10px;
    z-index: 0;
    background: white;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.axis-label div {
    margin-bottom: 10px;
    color: red;
    font-size: 28px;
}
.year {
    color: red;
}

.genre {
    color: white;
}
